<section class="bg-primary" id="about">
    <div class="container">
        <div class="row">
            <div class="col-lg-8 col-lg-offset-2 text-center">
                <h2 class="section-heading">Un poco de historia</h2>
                <hr class="light">
                <p class="text-faded">Naci en Buenos Aires en 2002, a los 5 ãnos comence a surfear, la vida me encontro viviendo en Miramar junto a mi tia abuela y abuela luego del fallecimiento de mi padre. A los 12 ãnos decidi que queria hacer del surf algo mas, comenzando a entrenar y a participar de distintas competencias, como por ejemplo el Circuito Argentino.</p>
                <a href="#competition" class="btn btn-default btn-xl page-scroll">Competiciones</a>
            </div>
        </div>
    </div>
</section>
